{% extends 'html.html' %}

{% block content %}
  <br>
  <div class="container jumbotron text-center">
    <h1>About Criminal Who?</h1>
  </div>
  <div class="jumbotron text-center">
    <h4>Criminal Who is a platform for government officials working in terrorism or crime control department.</h4><br>
    <h5>It is managed by Ammar Abid (Employee# P18-0016) and Momina Atif Dar (Employee# P18-0030).</h5><br>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <p style="text-align:center">Please note that our Database invloves only humans and not zombies, vampires or werewolves.</p>

{% endblock %}
